<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #eee;
    padding: 15px;
    width: 550px;
  }
  a{
    color: #5ead22;
  }
  body{
    display: flex;
    justify-content: center;
  }
</style>
<body>
  <div class="container">
    <h3>Sorry, Account Activation Failed</h3>
    <p>You have failed to activate your account within the specified time. We have cleared your registration information. Please re-register your account. Thank you! <a href="http://localhost:3000">Click to go to the homepage</a></p>
  </div>
</body>
</html>
